@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="main-banner">
        <div class="owl-carousel owl-banner">
            <div class="item item-1">
                <div class="header-text">
                    <span class="category">Heredia, <em>Costa Rica</em></span>
                    <h2>Ofrecemos<br>Las mejores Propiedades</h2>
                </div>
            </div>
            <div class="item item-2">
                <div class="header-text">
                    <span class="category">San Jose, <em>Costa Rica</em></span>
                    <h2>Todas<br>Las posibilidades en una pagina</h2>
                </div>
            </div>
            <div class="item item-3">
                <div class="header-text">
                    <span class="category">Cartago, <em>Costa Rica</em></span>
                    <h2>Compra<br>Ya para tener tu dominio!</h2>
                </div>
            </div>
        </div>
    </div>
</main>