@{
    ViewBag.Title = "Propiedades";
}

<body>
    <div class="page-heading header-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <span class="breadcrumb">Costa Rica</span>
                    <h3>Propiedades</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="section properties">
        <div class="container">
            <ul class="properties-filter nav nav-pills justify-content-center mb-5">
                <li class="nav-item">
                    <a class="nav-link is_active" href="#!" data-filter="*">Show All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!" data-filter=".adv">Apartment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!" data-filter=".str">Villa House</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#!" data-filter=".rac">Penthouse</a>
                </li>
            </ul>

            <div class="search-bar row justify-content-center">
                <div class="col-md-6 col-lg-4 mb-3">
                    <select class="form-control" id="provincia-filter">
                        <option value="*">All Provinces</option>
                        <option value=".san-jose">San Jose</option>
                        <option value=".limon">Limón</option>
                        <option value=".puntarenas">Puntarenas</option>
                        <option value=".heredia">Heredia</option>
                        <option value=".alajuela">Alajuela</option>
                        <option value=".guanacaste">Guanacaste</option>
                        <option value=".cartago">Cartago</option>
                    </select>
                </div>

                <div class="col-md-6 col-lg-1 mb-3">
                    <button class="btn" style="background-color: #343957; color: #fff;" onclick="filterProperties()">Buscar</button>
                </div>
            </div>

            <div class="row properties-box">
                <div class="col-lg-4 col-md-6 align-self-center mb-30 properties-items col-md-6 adv">
                    <div class="item">
                        <a href="property-details.html"><img src="~/template/assets/images/property-01.jpg" alt=""></a>
                        <span class="category">Luxury Villa</span>
                        <h6>$2.264.000</h6>
                        <h4><a href="property-details.html">18 Old Street Miami, OR 97219</a></h4>
                        <ul>
                            <li>Bedrooms: <span>8</span></li>
                            <li>Bathrooms: <span>8</span></li>
                            <li>Area: <span>545m2</span></li>
                            <li>Floor: <span>3</span></li>
                            <li>Parking: <span>6 spots</span></li>
                        </ul>
                        <div class="main-button">
                            <a href="property-details.html">Schedule a visit</a>
                        </div>
                    </div>
                </div>
                <!-- Agrega más propiedades según sea necesario -->
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li><a href="#">1</a></li>
                        <li><a class="is_active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script>
        function filterProperties() {
            var provinciaFilter = $('#provincia-filter').val();

            $('.property-list .item').hide();

            if (provinciaFilter === '*') {
                $('.property-list .item').show();
            } else {
                $('.property-list .item' + provinciaFilter).show();
            }
        }
    </script>
</body>

