<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>Dominium</title>

    <!-- Bootstrap core CSS -->
    <link href="/template/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/template/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/template/assets/css/templatemo-villa-agency.css">
    <link rel="stylesheet" href="/template/assets/css/owl.css">
    <link rel="stylesheet" href="/template/assets/css/animate.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/template/assets/css/login.css">
</head>
<body>
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="@Url.Action("Index", "Home")" class="logo">
                            <h1>Dominium</h1>
                        </a>

                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li><a href="#">Properties</a></li>
                            <li><a href="#">Property Details</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li>
                                @Html.ActionLink("Login", "Login", "Acceso")
                            </li>
                            <li><a href="#"><i class="fa fa-calendar"></i> Schedule a visit</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="col-lg-8">
                <p>Copyright © 2023 Dominium. All rights reserved.
            </div>
        </div>
    </footer>
    <script src="/template/vendor/jquery/jquery.min.js"></script>
    <script src="/template/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/template/assets/js/isotope.min.js"></script>
    <script src="/template/assets/js/owl-carousel.js"></script>
    <script src="/template/assets/js/counter.js"></script>
    <script src="/template/assets/js/custom.js"></script>
</body>
</html>


